@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
}
header h1 {
    padding: 10px 0 20px 0;
}
header h2 {
    padding: 0 0 20px 0;
}
table {
    border-collapse: collapse;
    width: 800px;
    margin: auto;
}
th, td, caption {
    border: 1px solid black;
    padding: 3px 10px;
}
caption, thead th, tfoot th {
    font-family: 'Courier New', Courier, monospace;
}
.colorido {
    background-color: beige;
}
.cent {
    text-align: center;
}
caption, tfoot th, thead tr:nth-child(odd) {
    background-color: dimgrey;
    color: white;
}
tfoot td {
    background-color: white;
    text-align: center;
}
tbody td:nth-child(3), tbody td:nth-child(4) {
    text-align: center;
}
section {
    overflow-x: auto;
}