* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.GridContainer {
    border: 1px solid black;
    max-width: 1920px;
    display: grid;
    grid-template: repeat(3,100px) / repeat(3,1fr);
    grid-auto-rows: 100px;

}
.GridItem {
    display: flex;
    justify-content: center; align-items: center;
    border: 1px solid lightblue;
}
.Div1 {
    color: white;
    background-color: red;
    grid-row-start: 1; grid-row-end: 3;
    grid-column-start: 1; grid-column-end: 3;
    z-index: 1;
}
.Div2 {
    color: white;
    background-color: blue;
    grid-row-start: 1; grid-row-end: 4;
    grid-column-start: 1; grid-column-end: 3;
    z-index: 0
}