* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100vw; min-height: 100vh;
    display: flex;
    justify-content: center; align-items: center;
}
.GridContainer {
    width: 1000px; height: 500px;
    max-width: 900px;
    border: 3px solid darkred;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    align-items: center; justify-items: center;
    align-content: center; justify-content: center;
}
.GridItem {
    border: 3px solid darkblue;
}