@charset "UTF-8";
:root {
    --font1: Arial, Helvetica, sans-serif;
    --font2: Verdana, Geneva, Tahoma, sans-serif;
    --c1: #7289FF;
    --c2: #868FBF; 
    --c3: #6C7080;
    --c4: #262B40;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--c4);
}
form {
    background-color: var(--c1);
}
button {
    background-image: linear-gradient(to right, var(--c1), var(--c2));
    color: white;
}
button:hover {
    background-image: linear-gradient(to right, var(--c3), var(--c4));
}
