@charset "UTF-8";
:root {
    --font1: Arial, Helvetica, sans-serif;
    --font2: Verdana, Geneva, Tahoma, sans-serif;
    --c1: #7289FF;
    --c2: #868FBF; 
    --c3: #6C7080;
    --c4: #262B40;
}
header h1 {
    font-family: var(--font2);
    color: white;
    text-align: center;
    font-size: 3em;
    margin: 40px 0;
    text-shadow: 5px 7px 1px rgba(0, 0, 0, 0.548);
}
form {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    margin: auto;
    width: 400px;
    padding: 10px 0;
    border-radius: 10px;
    border: 3px solid black;
    outline: 3px solid blue;
    outline-offset: 15px;
    box-shadow: 4px 6px 2px 3px rgba(0, 0, 0, 0.432);
    animation: girar 5s linear infinite;
}
.info {
    margin-left: 12%;
    font-family: var(--font1);
    font-size: 1.2rem;
    color: white;
}
input {
    display: block;
    margin: 15px auto;
    width: 300px;
    padding: 5px 12px;
    border-radius: 6px;
    transition: 
        scale 650ms ease-in;
}
input:focus {
    scale: 1.03;
}
input[type=checkbox] {
    position: relative;
    right: 24%;
    display: inline-block;
}
#esc {
    color: white;
    font-family: var(--font1);
    position: relative;
    right: 59%;
}
#esc:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}
button {
    position: relative;
    padding: 7px 10px;
    width: 300px;
    display: block;
    margin: 20px auto;
    font-family: var(--font2);
    border: 2px solid white;
    border-radius: 3px;
    font-size: 1.0012rem;
    transition:
        color 1s linear;
}
button:hover {
    animation: borda 2s linear infinite;
}
#dentro {
    position: absolute;
    display: block;
    left: 12%;
    z-index: 2;
    background-color: black;
    padding: 5px 5px;
    border-radius: 3px;
}
@keyframes girar {
    50% {
        outline-color: var(--c1);
    }
}
@keyframes borda {
    50% {
        transform: translateY(-30%);
    }
}